<ion-slides style="margin-bottom: 10px; height: 90%;" pager="true" [options]="slideOpts">
  <ion-slide>
  <img src="/assets/img/choices.svg" />
  <h2>PLACE YOUR ORDER</h2>
  <p>Available for pickup and delivery.</p>
  </ion-slide>
  <ion-slide>
  <img src="/assets/img/delivery.svg" />
  <h2>TRACK YOUR PACKAGE</h2>
  <p>See package movement timeline from pickup to delivery.</p>
  </ion-slide>
  <ion-slide>
  <img src="/assets/img/confirm.svg" />
  <h2>RECEIVE CONFIRMATION</h2>
  <p>Know the exact time your package arrives its destination.</p>
  </ion-slide>
  </ion-slides>